# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/VGCH-file-store/log/

# ignore uploads except the ontologies
/VGCH-file-store/uploads/
!/VGCH-file-store/uploads/ontology.turtle
!/VGCH-file-store/uploads/inferred-export.turtle


contactrequests.json
submissions.json
tokens.json
.env

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
